In [1]:
import pandas as pd
import numpy as np

In [5]:
outside='G1 G1 G1 G2 G2 G2'.split()
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [6]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [11]:
from numpy.random import randn

In [12]:
df=pd.DataFrame(randn(6,2),hier_index,["A","B"])

In [13]:
df

             A         B
G1 1 -1.669404  0.294629
   2 -0.328113 -1.160476
   3 -0.872673 -0.263096
G2 1  0.621431 -0.142506
   2 -0.243581  0.449293
   3 -0.044947  1.607146

In [14]:
df.loc['G1']

          A         B
1 -1.669404  0.294629
2 -0.328113 -1.160476
3 -0.872673 -0.263096

In [16]:
df.loc['G1'].loc[1]

A   -1.669404
B    0.294629
Name: 1, dtype: float64

In [17]:
df

             A         B
G1 1 -1.669404  0.294629
   2 -0.328113 -1.160476
   3 -0.872673 -0.263096
G2 1  0.621431 -0.142506
   2 -0.243581  0.449293
   3 -0.044947  1.607146

In [20]:
df.index.names=['Groups','Num']

In [21]:
df

                   A         B
Groups Num
G1     1   -1.669404  0.294629
       2   -0.328113 -1.160476
       3   -0.872673 -0.263096
G2     1    0.621431 -0.142506
       2   -0.243581  0.449293
       3   -0.044947  1.607146

In [22]:
df.loc['G2']

            A         B
Num
1    0.621431 -0.142506
2   -0.243581  0.449293
3   -0.044947  1.607146

In [24]:
df.loc['G2'].loc[2]['B']

0.449293222997966

In [25]:
df

                   A         B
Groups Num
G1     1   -1.669404  0.294629
       2   -0.328113 -1.160476
       3   -0.872673 -0.263096
G2     1    0.621431 -0.142506
       2   -0.243581  0.449293
       3   -0.044947  1.607146

In [27]:
df.xs(1,level='Num')

               A         B
Groups
G1     -1.669404  0.294629
G2      0.621431 -0.142506