In [25]:
def TOH(n,s,h,d):
    if n==1:
        print(f'moving plate from {s} to {d}')
        return
    TOH(n-1,s,d,h)
    print(f'move from {s} to {d}')
    TOH(n-1,h,s,d)
if __name__=="__main__":
    n=int(input('enter number:'))
    s=1
    h=2
    d=3
    TOH(n,s,h,d)

enter number:3
moving plate from 1 to 3
move from 1 to 2
moving plate from 3 to 2
move from 1 to 3
moving plate from 2 to 1
move from 2 to 3
moving plate from 1 to 3

In [14]:
TOH(3,1,2,3)

moving plate from 1 to 3
move from 1 to 2
moving plate from 3 to 2
move from 1 to 3
moving plate from 2 to 1
move from 2 to 3
moving plate from 1 to 3

In [26]:
def TOB(n,A,B,C):
    if n>0:
        TOB(n-1,A,C,B)
        print(f'from {A} to {C}')
        TOB(n-1,B,A,C)

In [29]:
TOB(1,1,2,3)

from 1 to 3

In [30]:
s.

In [31]:
s[0]

's'

In [3]:
def powset(s,o):
    if len(s)==0:
        lis.append(o)
        return 
    o1=o
    o2=o+s[0]
    powset(s[1:],o1)
    powset(s[1:],o2)
if __name__=='__main__':
    string=input('Enter the string:')
    output=' '
    lis=[]
    powset(string,output)
    print(lis)

Enter the string:abc
[' ', ' c', ' b', ' bc', ' a', ' ac', ' ab', ' abc']

In [72]:
lis

[' ', ' c', ' b', ' bc', ' a', ' ac', ' ab', ' abc']

In [21]:
def lettercase(s,o):
    if len(s)==0:
        lis.append(o)
        return
    if s[0].isalpha():
        o1=o+s[0].upper()
        o2=o+s[0].lower()
        lettercase(s[1:],o1)
        lettercase(s[1:],o2)
    else:
        o3=o+s[0]
        lettercase(s[1:],o3)
if __name__=='__main__':
    string=input('Enter the string:')
    output=' '
    lis=[]
    lettercase(string,output)
    print(lis)

Enter the string:a1b2
[' A1B2', ' A1b2', ' a1B2', ' a1b2']

In [15]:
k='A1b2'

In [16]:
k[0].lower()

'a'