In [1]:
import numpy as np

In [2]:
k=np.array([1,2,3,4,5])

In [3]:
k

array([1, 2, 3, 4, 5])

In [4]:
k[0]

1

In [8]:
k.all()

True

In [18]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [33]:
a=np.random.seed(5)
a

In [34]:
a

In [48]:
import pandas as pd

In [49]:
df=pd.read_csv('drug200.csv')

In [50]:
df['BP']

0        HIGH
1         LOW
2         LOW
3      NORMAL
4         LOW
        ...
195       LOW
196       LOW
197    NORMAL
198    NORMAL
199       LOW
Name: BP, Length: 200, dtype: object

In [78]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()

In [79]:
df['BP'].value_counts()

0    77
1    64
2    59
Name: BP, dtype: int64

In [92]:
df['BP']=l.fit_transform(df['BP'])
df['Sex']=l.fit_transform(df['Sex'])
df['Cholesterol']=l.fit_transform(df['Cholesterol'])

In [93]:
df

     Age  Sex  BP  Cholesterol  Na_to_K   Drug
0     23    0   0            0   25.355  drugY
1     47    1   1            0   13.093  drugC
2     47    1   1            0   10.114  drugC
3     28    0   2            0    7.798  drugX
4     61    0   1            0   18.043  drugY
..   ...  ...  ..          ...      ...    ...
195   56    0   1            0   11.567  drugC
196   16    1   1            0   12.006  drugC
197   52    1   2            0    9.894  drugX
198   23    1   2            1   14.020  drugX
199   40    0   1            1   11.349  drugX

[200 rows x 6 columns]

In [94]:
from sklearn.svm import SVC

In [95]:
svc=SVC()

In [96]:
df.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [97]:
X=df[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']].values
Y=df[[ 'Drug']].values

In [98]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y)

In [99]:
svc.fit(x_train,y_train)

C:\Users\shoaibakhtar\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\shoaibakhtar\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [100]:
y_pred=svc.predict(x_test)

In [101]:
from sklearn.metrics import accuracy_score

In [102]:
accuracy_score(y_pred,y_test)

0.76